@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: 'Poppins', sans-serif;
}
/* NAVBAR AREA */
.navarea {
  height: 80px;
  width: 100%;
  background-color: #343a40;
}

.logo {
  margin-left: 10px;
  width: 80px;
  height: 80px;
}

.navarea > ul {
  display: flex;
  float: right;
  margin-right: 40px;
  list-style: none;
}

.navarea > ul > li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

.navarea a {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 5px;
}

.navarea ul li a:hover {
  color: #f5f5f5;
}

a.active,
a:hover {
  color: white;
  background-color: #f72585;
  transition: 0.3s;
}

.navarea .nav-icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
/* dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  color: white;
  display: none;
  padding: 0;
  position: absolute;
  background-color: #343a40;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  font-weight: 700;
  padding-top: 0;
  padding-right: 1px;
  padding-bottom: 0;
  padding-left: 2px;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 50px;
}

.dropdown-content a:hover {
  background-color: #f72585;
  color: white;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SCREENS */

@media (max-width: 500px) {
  .navarea .nav-icon {
    display: block;
  }
  .navarea > ul {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #343a40;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .navarea > ul > li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navarea a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: white;
    background-color: #f72585;
  }
  a:hover {
    border: none;
    color: white;
    background-color: #f72585;
  }

  .navarea > ul.show {
    left: 0;
  }

  .dropdown {
    float: none;
    overflow: hidden;
    padding: 0;
    min-width: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: white;

    line-height: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    color: white;
    background-color: #f72585;
  }

  .dropdown:hover .dropdown-content {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #343a40;
  }
}

@media (max-width: 909px) {
  .navarea .nav-icon {
    display: block;
  }
  .navarea > ul {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #343a40;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  .navarea > ul > li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navarea a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    border: none;
    color: white;
    background-color: #f72585;
  }

  .navarea > ul.show {
    left: 0;
  }

  .dropdown {
    float: none;
    overflow: hidden;
  }

  .dropdown-content {
    display: none;
    padding: 0;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 50px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: white;
    padding: 0;
    text-decoration: none;
    line-height: 30px;
    min-width: 10px;
    display: flex;
    text-align: left;
  }

  .dropdown-content a:hover {
    color: white;
    background-color: #f72585;
  }

  .dropdown:hover .dropdown-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f72585;
    /* border: 2px solid black; */
    justify-content: center;
  }
}

@media screen and (min-width: 1048px) {
  label.logo {
    font-size: 32px;
    padding-left: 60px;
  }
  .navarea > ul {
    margin-right: 20px;
  }
  .navarea a {
    font-size: 17px;
  }
}

.banner {
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

/* END NAVBAR */
h1 {
  color: black;
  font-weight: bolder;
  text-align: center;
}
.all_cards {
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  border: 20px solid #ffffff;
  width: 25vw;
  background: linear-gradient(
    to bottom,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50px;
  padding: 20px;
}
.card:hover {
  cursor: pointer;
  box-shadow: 4px 6px 15px rgb(27, 26, 26 / 30%);
}
.image {
  /* border: 2px solid black; */
  text-align: center;
}
.image img {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}
.content {
  /* border: 2px solid black; */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #67595e;
}
.links {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: #a91b60;
}
